<!DOCTYPE html>
<html>
  <head>
      <title> Ruby on Rails Tutorial Sample App | <%= @title %> </title>
  </head>

  <body>
    <h1>Sample App Contact</h1>
    <p>this is the my first Contact page</p>
  </body>
</html>